@import play.mvc.Http.Request
@import helper._
@import controllers._
@import play.data.Form

@(boards : Seq[Leaderboard], form: Form[BoardRequest])(implicit request: Request, messages: play.i18n.Messages)

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/materialize.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

<div class="container">
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a class="brand-logo">411 Stocks</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="@routes.HomeController.index"> Home </a></li>
        </ul>
    </div>
</nav>
    <div class ="row">
<table>
<h1> Join a Leaderboard to get started </h1>

	<table>
        <caption><h2>Leaderboards</h2></caption>
        <thead>
            <tr><th><h3>Name</h3></th><th><h3>Users</h3></th>
        </thead>
        <tbody>
        @for(b <- boards) {
            <tr>
				<td>
					<a href="@routes.BoardController.displayBoard(b.id)">@b.name </a>
				</td>
                <td>@b.portfolios.size</td>
			</tr>
        }
        </tbody>
    </table>


<h2>Or Create a New Leaderboard</h2>
    <div class="col s4">
@helper.form(action = helper.CSRF(routes.BoardController.addBoard)){
		@helper.CSRF.formField
		@helper.inputText(form("name"), '_label -> "Name")
		@helper.inputText(form("start"), '_label -> "Starting Account Balance")
		
		<button type="submit">Create New Leaderboard</button>
}

@if(form.hasGlobalErrors) {
        @form.globalErrors.asScala.map { error: play.data.validation.ValidationError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }
    </div>
    <ul class="sidenav sidenav-fixed right-aligned">

        <h3>Links</h3>
        <li><a href="@routes.UserController.manage"> Manage User </a></li>
        <li><a href="@routes.PortfolioController.display"> Portfolios </a></li>
        <li><a href="@routes.BoardController.display"> Leaderboards </a></li>
        <li><a href="@routes.GuideController.guidePage"> Trading Guide </a></li>
        <li><a href="@routes.NewsController.newsPage"> Stock News </a></li>
        <li><a href="@routes.LoginController.logout"> Logout </a></li>
    </ul>
</table>
    </div>

</table>
</div>
