@import play.mvc.Http.Request

@(board : Leaderboard)(implicit requst : Request)

	<a href="@routes.HomeController.index"> Home </a><br>
	<a href="@routes.BoardController.display"> Back </a>
	<table>
        <caption><h2>@board.name</h2></caption>
        <thead>
            <tr><th><h3>Name</h3></th><th><h3>Worth</h3></th>
        </thead>
        <tbody>
        @for(p <- board.getPortfolios()) {
            <tr><td>@p.user.name</td>
                <td>@p.getValue()</td></tr>
        }
        </tbody>
    </table>
	
	<br><br><br>
	@helper.form(action = helper.CSRF(routes.BoardController.joinBoard(board.id))){
		@helper.CSRF.formField
		<button type="submit">Join this Leaderboard</button>
	}



