
@(stocks: Seq[StockData], listName : String)


<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/materialize.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

<div class="container">
<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a class="brand-logo">411 Stocks</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="@routes.HomeController.index"> Home </a></li>
		</ul>
	</div>
</nav>


    <section id="top">
        <div class="wrapper">
            <h1>Stock List</h1>
        </div>
    </section>

	<h3>Lists: </h3><br>
	<a href="@routes.StockController.listStocks("infocus ")"> In Focus </a> &emsp;
	<a href="@routes.StockController.listStocks("mostactive ")"> Most Active </a> &emsp;
	<a href="@routes.StockController.listStocks("gainers ")"> Gainers </a> &emsp;
	<a href="@routes.StockController.listStocks("losers ")"> Losers </a> &emsp;

    <div id="content" class="wrapper doc">
		
		<table style = "width:100%">
			<caption><h2>Top Stocks: @listName</h2></caption><br>
			<thead>
				<tr>
					<th><h3>Name</h3></th>
					<th><h3>Symbol</h3></th>
					<th><h3>Price</h3></th>
					<th><h3>Percent Change</h3></th>
				</tr>
			</thead>
			<tbody>
			@for(s <- stocks) {
				<tr>
					<td>@s.companyName</td>
					<td>@s.symbol</td>
					<td>@s.latestPrice</td>
					<td>@s.changePercent %</td>
				</tr>
			}
			</tbody>
		</table>

		
		
	</div>


<ul class="sidenav sidenav-fixed right-aligned">

	<h3>Links</h3>
	<li><a href="@routes.UserController.manage"> Manage User </a></li>
	<li><a href="@routes.PortfolioController.display"> Portfolios </a></li>
	<li><a href="@routes.BoardController.display"> Leaderboards </a></li>
	<li><a href="@routes.GuideController.guidePage"> Trading Guide </a></li>
	<li><a href="@routes.NewsController.newsPage"> Stock News </a></li>
	<li><a href="@routes.LoginController.logout"> Logout </a></li>
</ul>
</div>
 
  



