
@(stocks: Seq[StockData], listName : String)





    <section id="top">
        <div class="wrapper">
            <h1>Stock List</h1>
        </div>
    </section>



    <div id="content" class="wrapper doc">
	
		<a href="@routes.HomeController.index"> Home </a><br><br>

		<table style = "width:100%">
			<caption><h2>Top Stocks: @listName</h2></caption><br>
			<thead>
				<tr>
					<th><h3>Name</h3></th>
					<th><h3>Symbol</h3></th>
					<th><h3>Price</h3></th>
					<th><h3>Percent Change</h3></th>
				</tr>
			</thead>
			<tbody>
			@for(s <- stocks) {
				<tr>
					<td>@s.companyName</td>
					<td>@s.symbol</td>
					<td>@s.latestPrice</td>
					<td>@s.changePercent %</td>
				</tr>
			}
			</tbody>
		</table>
		<br><br>
		
		<h3>Lists: </h3><br>
		<a href="@routes.StockController.listStocks("infocus ")"> In Focus </a> &emsp; 
		<a href="@routes.StockController.listStocks("mostactive ")"> Most Active </a> &emsp;  
		<a href="@routes.StockController.listStocks("gainers ")"> Gainers </a> &emsp; 
		<a href="@routes.StockController.listStocks("losers ")"> Losers </a> &emsp; 
		
		
		<br><br>
		
		
	</div>

        


 
  



