@import play.mvc.Http.Request
@import helper._
@import controllers._
@import play.data.Form

@(form: Form[User])(implicit request: Request, messages: play.i18n.Messages)

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/materialize.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

<div class="container">

<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a class="brand-logo">411 Stocks</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="@routes.HomeController.index"> Home </a></li>
		</ul>
	</div>
</nav>

	<h1> Use the form below to update your information </h1>
	<br><br>



	@helper.form(routes.UserController.updateUser){
		@helper.CSRF.formField
		@helper.inputText(form("name"))
		@helper.inputPassword(form("password"))
		
		<button type="submit">Update User</button>
	}

	<br><br><br>

	<p>Be careful, you can't undo this</p>
	<h4><a href="@routes.UserController.deleteUser"> Delete Your Account </a></h4>



<ul class="sidenav sidenav-fixed right-aligned">

	<h3>Links</h3>
	<li><a href="@routes.UserController.manage"> Manage User </a></li>
	<li><a href="@routes.PortfolioController.display"> Portfolios </a></li>
	<li><a href="@routes.BoardController.display"> Leaderboards </a></li>
	<li><a href="@routes.GuideController.guidePage"> Trading Guide </a></li>
	<li><a href="@routes.NewsController.newsPage"> Stock News </a></li>
	<li><a href="@routes.LoginController.logout"> Logout </a></li>
</ul>

</div>