@(port : Portfolio)

	<a href="@routes.HomeController.index"> Home </a><br>
	<a href="@routes.PortfolioController.display"> Back </a><br>
	
	<br>Total Value: $@port.value
	<br>Account Balance: $@port.account<br>
	<table>
        <caption><h2>@port.leaderboard.name</h2></caption>
        <thead>
            <tr><th><h3>Stock</h3></th><th><h3>Shares</h3></th><th><h3>Value</h3></th>
        </thead>
        <tbody>
        @for(s <- port.getStock()) {
            <tr>
				<td>@s.symbol</td>
				<td>@s.quantity</td>
				<td>@s.value</td>
			</tr>
        }
        </tbody>
    </table>
	
	<br><a href="@routes.StockController.shopStock(port.id, "")"> Buy Stock </a>
	<br><a href="@routes.StockController.listStocks("infocus ")"> View Top Stocks </a>
	
