@import play.mvc.Http.Request
@import helper._
@import controllers._
@import play.data.Form

@(form: Form[User])(implicit request: Request, messages: play.i18n.Messages)


<h1> Welcome to 411 Stocks </h1>
<br> Fill out the form below to create a new account <br>

@helper.form(action = helper.CSRF(routes.UserController.addUser)){
		@helper.CSRF.formField
		@helper.inputText(form("name"))
		@helper.inputText(form("email"))
		@helper.inputPassword(form("password"))
		
		<button type="submit">Create New User</button>
}
	
	

