@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>
<div class="container">
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a class="brand-logo">@message</a>
    </div>
    </nav>
    <div id="content" class="wrapper doc">
              <div class="row">
                <div class="col">
			<h1 class="header center">Welcome to our App</h1>
			
			<p>
                	<ul>
                   	    <li>
                            Get started by joining a <a href="@routes.BoardController.display"> leaderboard </a> or creating your own.
                        </li>
                	</ul>
					<ul>
						<li>
							Then view your <a href="@routes.PortfolioController.display"> portfolio </a> to start buying stocks.
						</li>
					</ul>
					<ul>
						<li>
							View top stocks <a href="@routes.StockController.listStocks("infocus ")"> here </a> to scope out your stretegy.
						</li>
					</ul>
                    <ul>
                        <li>
                            For help you can look at our <a href="@routes.GuideController.guidePage"> guides</a> on stock trading.
                        </li>
                    </ul>
            </p>
            
                </div>




            <ul class="sidenav sidenav-fixed right-aligned">

                <h3>Links</h3>
                <li><a href="@routes.UserController.manage"> Manage User </a></li>
				<li><a href="@routes.PortfolioController.display"> Portfolios </a></li>
				<li><a href="@routes.BoardController.display"> Leaderboards </a></li>
                <li><a href="@routes.GuideController.guidePage"> Trading Guide </a></li>
                <li><a href="@routes.NewsController.newsPage"> Stock News </a></li>
                <li><a href="@routes.LoginController.logout"> Logout </a></li>
            </ul>
                  </div>

    </div>
</div>
}
