@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>

    <section id="top">
        <div class="wrapper">
            <h1>@message</h1>
        </div>
    </section>

    <div id="content" class="wrapper doc">
        <article>
		
			<h2> Welcome to our App</h2>
			
			<p>
                	<ul>
                   	<li>
                        Please go to <a href="@routes.StockController.listStocks">@routes.StockController.listStocks</a> to buy stocks.
                    	</li>
                	</ul>
            		</p>
            
        </article>

        <aside>
            <h3>Links</h3>
            <ul>
				
                <li><a href="@routes.LoginController.logout"> Logout </a></li>
                <li><a href="@routes.UserController.manage"> Manage User </a></li>
				<li><a href="TODO Add Portfolios"> Portfolios </a></li>
				<li><a href="TODO Add Leaderboards"> Leaderboards</a></li>
            </ul>
        </aside>

    </div>
}
